body {
    padding: 50px 400px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
    color:#2e8b57;
    font-size: 80px;
    font-weight: 700;
}

h4 {
    font-family: 'Martel Sans', sans-serif;
    color:#2e8b57;
}

ul {
    margin-left: 50px;
}

li {
    margin-bottom: 20px;
}

blockquote {
    
    margin: 30px auto 30px auto;
    text-align: center;
    padding: 10px;
    max-width: 600px; 
    color: #2e8b57;
    font-family: 'Martel Sans', sans-serif;
    font-size: 24px;
    line-height: normal;
}

a {
    text-decoration-thickness: 2px;
    text-decoration-color: #2e8b57;
    text-align: center;
}