body {
    padding-left: 400px;
    padding-right: 400px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
}

ul {
    max-width: 600px;
    margin-left: 50px;
    
}

li {
    margin-bottom: 20px;
}

blockquote {
    
    margin: 30px auto 30px auto;
    text-align: center;
    padding: 20px;
    background-color: darkgrey;
    max-width: 600px; 
}

a {
    text-decoration: none;
    color:rgb(38, 206, 206);
}