body {
    font-family: 'Open Sans', sans-serif;
    max-width: 800px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-start;
}

h1 {
    margin-right: 15px;
}

img {
    filter: invert(75%) sepia(91%) saturate(1098%) hue-rotate(360deg) brightness(104%) contrast(104%);
    max-width: 30px;
}

