body {
    padding-left: 400px;
    padding-right: 400px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
}

h1 {
    font-family: 'Martel Sans', sans-serif;
    color:#2e8b57;
    font-size: 80px;
    font-weight: 700;
}

h4 {
    font-family: 'Martel Sans', sans-serif;
    color:#2e8b57;
}

ul {
    margin-left: 50px;
}

li {
    margin-bottom: 20px;
}

blockquote {
    
    margin: 30px auto 30px auto;
    text-align: center;
    padding: 10px;
    background-color: #2e8b57;
    max-width: 600px; 
    color: #fff;
}

a {
    text-decoration: none;
    color:rgb(38, 206, 206);
}