body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Archivo Black', sans-serif;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    flex: 1;
    max-width: 32%;

}