@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 70%;
    }
}

@media screen and (max-width: 660px) {
    .container {
        max-width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 90%;
        font-size: .8rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
}
